# Install with pip install -r requirements-dev.txt

# Development tools
pytest
pytest-cov

# Source Control
pre-commit
# then ... 
# pre-commit install
# pre-commit run --all-files

# Linters
ruff        # super-fast linter
black       # formatter

# Type checking
mypy
